//Variables
$main-color: rgb(25, 135, 84);
$secondary-color:  rgb(240, 248, 255);
$key-color:rgb(0, 0, 0);
$white:rgb(255,255,255);
$facebook-color: #446cc2;
$instagram-color: #E1306C;

//Fonts 
$main-font:'Roboto', sans-serif;

//font weight
$text-regular: 400;
$text-light: 300;
$text-bold: 600;

//font Sizes
$text-sm: 0.8em;
$text-md: 1em;
$text-lg: 1.2em;
$text-xl: 2em;
